/* main colors: */
/* #0C404F - dark blue (header) */
/* #FF5A3B - red */
/* #00DA9C - green */

/* #F5F7F7 - light gray (app bgc) */
/* #DFE3E6 - gray */
/* #7F9297 - dark gray (body text) */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    background-color: #f5f7f7;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

/* navigation */

nav {
    position: fixed;
    width: 100%;
    background-color: #0c404f;
    font-family: arial, sans-serif;
    z-index: 1;

}

.nav-main-container {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;

}

.nav-logo-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 30px;
    width: 100%;
}

.nav-logo {
    width: 175px;
    height: 60px;
    background-image: url(./resources/logo.svg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.nav-logo-aglo {
    width: 200px;
    height: 80px;
    background-image: url(./resources/logo_aglo.svg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.nav-links-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.nav-link {
    display: none;
    margin-left: 7px;
    margin-right: 7px;
    width: 150px;
    text-align: center;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #00DA9C;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    color: #00DA9C;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.nav-link:first-child {
    font-size: 26px;
    border: transparent;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
}

.nav-link:hover {
    color: #FF5A3B;
    border-color: #FF5A3B;
}

/* header */

header {
    position: relative;
    top: 80px;
    left: 0;
    height: 70vh;
    background-image: url(./resources/header_img3.jpeg);
    background-position: center 25%;
    background-size: cover;
    z-index: 0;
    margin-bottom: 80px;

}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0c404f66;
    z-index: -1;
}

.header-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.header-container h1,
.header-container p {
    margin-bottom: 10px;
    color: #F5F7F7;
    letter-spacing: 2px;
}

.header-container h1 {
    font-size: 2.4rem;
}

.header-container p {
    font-size: 1.2rem;
}

.header-link {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    text-transform: lowercase;
}

/* main */

main {
    position: relative;
}

/* main section - benefits */

.benefits {
    /* height: 400px;
    width: 90vw;
    margin: 0 auto;
    background-color: #DFE3E6; */
}

/* main section - video */

.video {
    /* height: 400px;
    width: 90vw;
    margin: 0 auto;
    background-color: #7F9297; */
}

/* main section - articles */

.articles-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* position: absolute; */
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    background-color: #DFE3E6;
}



.article-container {
    /* display: block; */
    display: flex;
    flex-basis: 100%;
    /* flex-direction: column; */
    /* flex-direction: row; */
    width: 90%;
    border-radius: 10px;
    margin: 0 auto 40px auto;
    /* padding: 20px; */
    /* background-color: #fff; */
}

.article-link {
    /* display: flex; */
    /* flex-direction: column; */
    display: block;
    position: relative;
    flex-basis: 100%;
    height: 30vh;
}

.article-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-url-1 {
    background-image: url(./resources/article_img_1.jpg);
}

.img-url-2 {
    background-image: url(./resources/article_img_2.jpg);
}

.img-url-3 {
    background-image: url(./resources/article_img_3.jpg);
}

.article-text {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: left;
    width: 80%;
    margin: 0 10px;
    color: #fff;
    padding-left: 10px;
    overflow: hidden;
}

.article-text h2 {
    margin-top: 10px;
    font-size: 2rem;
}

.article-text p.article-publish-details {
    margin: 8px 0;
    font-size: 1.2rem;
    color: #fff;
}

.article-text p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.5;

}

.article-text p.article-description {
    position: absolute;
    bottom: - 40%;
    left: 0;
}


.article-img:hover .article-text,
.artcile-text p.article-description {
    overflow: visible;
    bottom: 40%;
    left: 0;
    
}







/* article div {
    width: 30%;
    height: 50px;
} */

/* article div img {
    float: left;
    width: 100%;
    height: 300px;
} */

/* article div~div {
    float: left;
    width: 70%;
}

article div~div h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

article div~div p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px auto;
    padding-left: 15px;
}

article div~div a {
    display: block;
    margin-left: 85%;
    margin-right: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: #0C404F solid 2px;
    border-radius: 20px;
    font-size: 2.0rem;
    color: #0C404F;
    font-family: arial, sans-serif;
    background-color: #7F9297;
    text-decoration: none;
    text-transform: capitalize;
} */

/* article div~div a:hover {
    color: #FF5A3B;
    border-color: #FF5A3B;
} */

/* resources */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 50px;
    background-color: #0c404f;
    text-align: center;
    line-height: 50px;
    font-size: 1.6rem;
    color: #00DA9C;
    letter-spacing: 2px;
}

/* @media (min-width: 600px) {
    .article-img {
        width: 300px;
        height: 200px;
    }

    .article-text {
        width: 80%;
        position: relative;
        margin: 0 10px;
    }

    .article-text h2 {
        margin-top: 10px;
        font-size: 1.8rem;
    }

    .article-text p.article-publish-details {
        margin: 8px 0;
        font-size: 1.2rem;
        color: gray;
    }

    .article-text p {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1.7;
    }


} */
@media (min-width: 481px) and (orientation:portrait) {
    .articles-main-container {
        flex-wrap: wrap;
        flex-direction: row;
        /* justify-content:; */
        /* align-content: space-around; */
    }

    .article-container {

        flex-basis: 45%;
    }

    .article-text h2 {
        font-size: 1.8rem;
    }

    .article-text p.article-publish-details {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) and (orientation:portrait) {
    .articles-main-container {
        flex-wrap: wrap;
        flex-direction: row;
        /* justify-content:; */
        /* align-content: space-around; */
    }

    .article-container {
        flex-basis: 48%;
    }


}

@media (min-width: 768px) {
    .header-container h1 {
        font-size: 2.8rem;
    }

    .header-container p {
        font-size: 2rem;
    }

    .nav-logo-wrapper {
        display: flex;
        align-items: center;
        padding: 15px;
        margin-left: 30px;
    }
}

@media (min-width: 481px) and (orientation:landscape) {
    .articles-main-container {
        flex-wrap: wrap;
        flex-direction: row;



    }

    .article-container {

        flex-basis: 50%;
        align-self: center;
    }

    .article-link {
        height: 50vh;
    }

}

@media (min-width: 481px) and (orientation:landscape) {
    .article-link {
        height: 40vh;
    }

}

@media (min-width: 1201px) and (orientation:landscape) {
    .articles-main-container {
        flex-wrap: wrap;
        flex-direction: row;

    }

    .article-container {

        flex-basis: 33%;
        align-self: center;
    }

    .article-link {
        height: 30vh;
    }

    .article-text h2 {
        font-size: 2.6rem;
    }

    .article-text p.article-publish-details {
        font-size: 1.2rem;
    }

}

@media (min-width: 1024px) {
    header {
        background-image: url(./resources/header_img7.jpg);
    }

    .header-container h1,
    .header-container p {
        margin-bottom: 10px;
        color: #F5F7F7;
        letter-spacing: 2px;
    }

    .header-container h1 {
        font-size: 3.4rem;
    }

    .header-container p {
        font-size: 1.6rem;
    }
}

@media (min-width: 1201px) {

    .nav-link {
        display: block;
        margin-left: 7px;
        margin-right: 7px;
        width: 150px;
        text-align: center;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: #00DA9C;
        border-style: solid;
        border-width: 2px;
        border-radius: 20px;
        color: #00DA9C;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 2px;
    }

    .header-link {
        display: inline-block;
        margin-top: 20px;
        width: 200px;
        text-align: center;
        text-transform: lowercase;
    }


}