/* main colors: */
/* #0C404F - dark blue (header) */
/* #FF5A3B - red */
/* #00DA9C - green */

/* #F5F7F7 - light gray (app bgc) */
/* #DFE3E6 - gray */
/* #7F9297 - dark gray (body text) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #F5F7F7;
    font-family: 'arial', sans-serif;
    font-size: 1.6rem;
}

/* navigation */

nav {
    background-color: #0c404f;
    font-size: 1.8rem;
    font-family: arial, sans-serif;
}

nav .nav-main-container {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}

nav .nav-logo-wrapper {
    padding: 15px;
    margin-left: 30px;
}

nav .nav_logo {
    width: 175px;
    height: 60px;
    background-image: url(./resources/Beznazwy-1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

nav .nav-links-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

nav .nav-link {
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #00DA9C;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    font-size: 1.6rem;
    color: #00DA9C;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
}

nav .nav-link:hover {
    color: #FF5A3B;
    border-color: #FF5A3B;
}

/* header */

header {
    position: relative;
    height: 80vh;
    background-image: url(./resources/header_img2.jpeg);
    background-position: center;
    background-size: cover;
}

/* header .hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    background-color: grey;
} */

header .header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.benefits {
    height: 200px;
    background-color: red;

}

.video {
    height: 200px;
    background-color: cadetblue;
}

/* sekcja artykuły */

.articles {

    font-family: arial, sans-serif;
    width: 90%;
    margin: 0 auto;

}

article {
    font-size: 0;
    border: 2px solid black;
    margin-top: 10px;
    background-color: #7F9297;

}

article div {
    width: 30%;
    height: 50px;
}

article div img {
    float: left;
    width: 100%;
    height: 300px;
}

article div~div {
    float: left;
    width: 70%;
}

article div~div h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

article div~div p {

    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px auto;
    padding-left: 15px;
}

article div~div a {
    display: block;
    margin-left: 85%;
    margin-right: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: #0C404F solid 2px;
    border-radius: 20px;
    font-size: 2.0rem;
    color: #0C404F;
    font-family: arial, sans-serif;
    background-color: #7F9297;
    text-decoration: none;
    text-transform: capitalize;
}

article div~div a:hover {
    color: #FF5A3B;
    border-color: #FF5A3B;
}




/* resources */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}